<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
  <meta content="" name="description" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>发现服务·速享之旅</title>

  <script type="text/javascript" th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
  <link rel="stylesheet" th:href="@{/static/css/loginSuccess.css}" />
  <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}" >
  <!-- <link rel="stylesheet" href="../static/css/loginSuccess.css" /> -->
  <!--<script src="../js/vendor/modernizr-2.6.2.min.js"></script>-->
</head>

<body style="height: 100vh; margin: 0;">
  <div style="height: 100%;">
    <form th:action="${successPostUrl}" method="post" th:object="${clientDataInfo}">
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.id}" name="authUserInfo.id"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.realName}" name="authUserInfo.realName"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.userType}" name="authUserInfo.userType"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.source}" name="authUserInfo.source"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentId}" name="authUserInfo.studentId"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentCode}" name="authUserInfo.studentCode"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentStage}" name="authUserInfo.studentStage"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentGrade}" name="authUserInfo.studentGrade"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentClass}" name="authUserInfo.studentClass"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentStageName}" name="authUserInfo.studentStageName"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentGradeName}" name="authUserInfo.studentGradeName"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentClassName}" name="authUserInfo.studentClassName"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentSchoolId}" name="authUserInfo.studentSchoolId"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentCodeStatus}" name="authUserInfo.studentCodeStatus"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentSchoolCode}" name="authUserInfo.studentSchoolCode"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentSchoolName}" name="authUserInfo.studentSchoolName"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentRegionCode}" name="authUserInfo.studentRegionCode"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.studentRegionName}" name="authUserInfo.studentRegionName"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherTrainingNo}" name="authUserInfo.teacherTrainingNo"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherTrainingUserName}" name="authUserInfo.teacherTrainingUserName"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherRegionCode}" name="authUserInfo.teacherRegionCode"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherCampusCode}" name="authUserInfo.teacherCampusCode"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherTrainingSchoolType}" name="authUserInfo.teacherTrainingSchoolType"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherStage}" name="authUserInfo.teacherStage"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherGrade}" name="authUserInfo.teacherGrade"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherSubject}" name="authUserInfo.teacherSubject"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherSchoolId}" name="authUserInfo.teacherSchoolId"/>
      <input type="hidden" th:value="${clientDataInfo.authUserInfo.teacherSchoolName}" name="authUserInfo.teacherSchoolName"/>
      <input type="hidden" th:value="${clientDataInfo.returnUrl}" name="returnUrl"/>
      <input type="hidden" th:value="${clientDataInfo.oauthType}" name="oauthType"/>
    </form>

    <div id="showMessage" style="display: none">
      <div class="login-success">
        <p class="login-success-hello">
          您好，来自
          <span th:if="${clientDataInfo.authUserInfo.source}  == 'edenoperation'">上海数字教材</span>
          <span th:if="${clientDataInfo.authUserInfo.source}  == 'dianjiaoguan'">上海基础教育</span>
          <span th:if="${clientDataInfo.authUserInfo.source}  == 'qpjy'">青浦教育</span>的
          <span th:text="${clientDataInfo.authUserInfo.realName}"></span><span
            th:if=" ${clientDataInfo.authUserInfo.userType != null } and ${clientDataInfo.authUserInfo.userType.name()  == 'TEACHER'}">（教师）</span><span
            th:if=" ${clientDataInfo.authUserInfo.userType != null } and ${clientDataInfo.authUserInfo.userType.name()  == 'STUDENT'}">（学生）</span>
        </p>
        <p>欢迎使用“发现服务·速享之旅”</p>
        <p>统一身份认证服务。</p>
      </div>
      <div class="login-success-footer">
        <p class="login-success-footer-text">版权所有&copy;上海教育认证中心</p>
      </div>
    </div>
    <!-- <p id="showMessage" style="font-size: 26px; text-align:center; display: none">尊敬的
    <span th:text="${clientDataInfo.authUserInfo.realName}"></span>（id：
    <span th:text="${clientDataInfo.authUserInfo.id}"></span>），恭喜您通过
    <span th:if="${clientDataInfo.authUserInfo.source}  == 'edenoperation'">上海数字教材</span>
    <span th:if="${clientDataInfo.authUserInfo.source}  == 'dianjiaoguan'">上海基础教育</span>
    <span th:if="${clientDataInfo.authUserInfo.source}  == 'qpjy'">青浦教育</span>
    登录成功！
  </p> -->

  </div>
  <script th:inline="javascript">
    var formSubmitUrl = [[${successPostUrl}]];
    if (formSubmitUrl && formSubmitUrl.length > 0){

      $(function(){
        $("form").submit();
      });

    }else {
      $("#showMessage").show();
    }
  </script>


</body>

</html>