/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
a,button,input{
    outline: none;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #4e97f7 !important;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}
.bg{
    width: 887px;
    height: 490px;
    position: relative;
    top:50%;
    left:50%;
    margin-top:-245px;
    margin-left:-444px;
    background: url("../img/form_bg.png") no-repeat center;
}
.loginContainer{
    width: 435px;
    position: absolute;
    top: 80px;
    /* left: 30px; */
}
.loginContainer h1{
    color: #fff;
}
.login-box{
    width: 310px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0 auto;
}
.login-box h2{
    font-size: 20px;
    color:#4d8dff ;
    font-weight: bolder;
}
.login-box .radioGrop{
	width:450px;
    clear: both;
    font-size: 12px;
    margin-left:60px;
}
.radioGrop .radio {
	   float:left;
}
/*.radioGrop .radio:first-of-type label{*/
/*    color:#4d8dff ;*/
/*    */
/* */
/*}*/
.login-box small{
    color: red;
}
.login-box  .radio{
    flex: 1;
    position:relative;
   
}
.login-box .radioGrop input[type=radio]{
    margin-top: 2px;
   /* margin-right:20px;*/
   position:absolute;
   left:10px;
   top:0;
}
.login-box  button.btn{
    border-radius: 15px;
    outline-color:transparent;
}
.login-box a.btn{
    /*word-break: normal;*/
    white-space: normal;
    /* text-align: center; */
    width:140px;
    font-size: 12px;
    height: 48px;
    /* text-decoration: dashed; */
}
.login-box .btn-primary {
    background: -webkit-linear-gradient(left, #4d8dff, blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #4d8dff, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #4d8dff, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #4d8dff, blue); /* 标准的语法 */
    box-shadow: #4e97f7;
    line-height: 2;
    font-size: 20px;
}

.login-box
.bg-line{
    margin: 30px auto;
    border-top: 1px solid #333;
    position: relative;
}
.bg-line span{
    position: absolute;
    top: -13px;
    /* text-align: center; */
    padding: 0 20px;
    background: #fff;
    left: 100px;
}
.login-box .input-group-addon{
    background: none;
    color:#4d8dff ;
}
.login-box a{
    /* border:1px solid #4d8dff ; */
    cursor: pointer;
    color: #4d8dff;
    text-decoration: underline;
}

.login-box .disable_a {
    border:1px solid #ccc;
    pointer-events: none;
    color: #afafaf;
    cursor: default;
}

.login-box .radio{
    margin-right: 30px;
}
.login-box .radio {
   word-break: keep-all;
}
.login-box .logBtn{
    background: url("../img/btn_bg.png") no-repeat center;
    background-size: contain;
    border: none;
}
.login-box .radio+.radio
{
    margin-top: 10px;
}
.login-box .btn-default:hover{
    color: #fff;
    background:#4d8dff ;

}
.login-btn{
    font-size: 16px;
    width: 200px;
    height: 43px;
    display: inline-block;
    margin: 105px 0px 67px 42px;
    border-radius: 21px;
    background-color: #4E97F6;
    /* background-image: linear-gradient(to right, #4E97F6, rgb(34, 124, 241)); */
    color: white;
}
.login-span{
    /* margin-top: 67px; */
}



@media screen and (min-width: 1025px) and (max-width: 1280px){
    .bg{
        background-size: initial;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .bg{
        background-size: contain;
    }
}

/* @media screen and (min-width: 1921px) and (max-width: 3000px) {
    .bg{
        width: 1600px;
        height: 980px;
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-size: 100%;
        background-color: #000;
        background: url("../img/form_bg.png") no-repeat center;
    }
    .bg_box {
        position: relative;
        top: 0;
        left: 0;
    }
    .loginContainer {
        position: absolute;
        top: 250px;
        left: 12%;
        margin-bottom: 22px;
    }
    .bg-form {
        width: 100% !important;
    }
    .login-box {
        width: 100%;
    }
    .login-box .radioGrop input[type=radio] {
        margin-top: 8px;
    }
    .login-box h2 {
        font-size: 40px;
    }
    .login-box .radioGrop {
        font-size: 24px;
        width: 100%;
        min-height: 50px;
        display: fiex;
        justify-content: space-between;
        margin-left: 0px;
        margin-bottom: 22px;
    }
    .login-box .radio {
        margin-right: 28px;
        margin-bottom: 30px;
        margin-left: 12px;
    }
    .login-box .radio:last-child {
        margin-right: 0px;
    }
    .login-box small {
        font-size: 22px;
        padding-top: 10px;
    }
    .form-group  {
        margin-bottom: 22px;
    }
    .input-group-addon {
        padding: 12px 24px;
        font-size: 22px;
    }
    .form-control {
        font-size: 22px;
        height: 58px;
    }
    .btn {
        padding: 12px 24px;
        font-size: 22px;
    }
    .bg-line span {
        font-size: 22px;
        left: 220px;
    }
    .login-box a.btn {
        width: auto;
        font-size: 22px;
        height: 60px;
    }
} */
